<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | {% endif %}Matrika India</title>

    <link href="/admin/favicon.png" rel="icon" type="image/png"/>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/matrika.css"/>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index.html">Matrika India</a>
			</div>

			<ul class="nav navbar-nav">
				<li class="active"><a href="/index.html">Home</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">MATRIKA Meaning</a></li>
						<li><a href="#">About the Research Project</a></li>
						<li><a href="#">NGO Research Collaboration</a></li>
						<li><a href="#">MATRIKA Activities</a></li>
						<li><a href="#">Mission Statement</a></li>
						<li class="divider"></li>
						<li><a href="/AboutUs/Janet.html">Janet's Biography</a></li>
						<li><a href="/AboutUs/TheWebTeam.html">The Web Team</a></li>
				  </ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/Research.html">Research Articles</a></li>
						<li><a href="/Resources/UpcomingEvents.html">Upcoming Events</a></li>
						<li><a href="/Resources/EventReports.html">Event Reports</a></li>
						<li><a href="/Research.html#Films">Films</a></li>
						<li><a href="/Resources/BookReviews.html">Book Reviews</a></li>
						<li><a href="/Links.html">Useful Links</a></li>
					</ul>
				</li>

				<li><a href="http://janetchawla.blogspot.com/" target="_blank">Blog</a></li>
				<li><a href="/contact.html">Contact Us</a></li>
			</ul>
			
			<form class="navbar-form navbar-right" role="form">
				<div class="form-group">
					<input type="text" placeholder="Query" class="form-control">
				</div>
				<button type="submit" class="btn btn-success">Search</button>
			</form>
		</div>
	</div>

	<div class="container-fluid" style="min-height:100%">
		<div class="row mainBodyContainer">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/WhyMatrika.html">MATRIKA: A Project to Reclaim Indigenous Midwifery</a></li>
					<li><a href="/KeyConcepts.html">The Traditional Birth World in North India</a></li>
					<li><a href="/ComplicationSafety.html">Complications, Safety, Caesarians, and the Politics of Birth</a></li>
					<li><a href="/FAQ.html">Reproductive Health Matters and Perspectives</a></li>
					<li><a href="/Articles.html">Featured Articles & Archvies</a></li>
					<li><a href="/DidYouKnow.html">Yoni Knowledge</a></li>
					<li><a href="/Workshops.html">Matrika Workshops & Transcripts</a></li>
					<li><a href="http://groups.google.com/group/matrika" target="_blank">Discussions</a></li>
					<li><a href="/Resources/UpcomingEvents.html">Upcoming Events</a></li>
					<li><a href="/Downloads/JeevaPilotProjectReportJune2010.pdf">Jeeva Pilot Project Report (June 2010)</a></li>
				</ul>
			</div>

			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div id="mainContainer">
					{{ content }}
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<br/>
		<p class="text-muted"> 
			Copyright &copy; 2007-2014, MATRIKA, New Delhi, India
		</p>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>
